
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Bienvenido Admin. Ahora usted podra administrar los roles.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}
else
{
    <h2>  Bienvenido <strong>@ViewBag.Name</strong> :)! Agregaremos el módulo de usuario pronto </h2>
}

